# Core functionality - changes here should be rare!
/src/app.py                   @Ma-Z-Y
/src/backend/database.py      @Ma-Z-Y
/src/backend/routers/auth.py  @Ma-Z-Y

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ma-Z-Y
